[submodule "submodule/codegraph"]
	path = submodule/codegraph
	url = https://github.com/colbymchenry/codegraph
[submodule "submodule/superpowers"]
	path = submodule/superpowers
	url = https://github.com/obra/Superpowers
[submodule "submodule/andrej-karpathy-skills"]
	path = submodule/andrej-karpathy-skills
	url = https://github.com/multica-ai/andrej-karpathy-skills
[submodule "submodule/ui-ux-pro-max-skill"]
	path = submodule/ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill.git
[submodule "submodule/caveman"]
	path = submodule/caveman
	url = https://github.com/JuliusBrussee/caveman.git
[submodule "submodule/skills"]
	path = submodule/skills
	url = https://github.com/mattpocock/skills
[submodule "submodule/ECC"]
	path = submodule/ECC
	url = https://github.com/affaan-m/ECC
[submodule "submodule/agent-browser"]
	path = submodule/agent-browser
	url = https://github.com/vercel-labs/agent-browser
[submodule "submodule/ppt-master"]
	path = submodule/ppt-master
	url = https://github.com/hugohe3/ppt-master
